#masthead {
  width: 998px;
  height: 100px;
  margin-bottom: 1px;
}

#contain {
  width: 1000px;
  min-height: 1000px;
  margin: 0 auto;
}

#main {
  width: 637px;
  min-height: 800px;
  margin: 1px 1px 0px 0px;
  float: left;
  padding: 30px;
}

body.full_width div#main {
  width: 937px;
}

#sidebar {
  width: 297px;
  float: left;
  margin: 1px 0px 0px 1px;
  min-height: 800px;
}

#masthead, #main, #sidebar {
  border: rgb(146, 146, 146) solid 1px;
}

body {
	font: 0.85em "Lucida Grande", Arial, Helvetica, sans-serif;
	line-height: 1.2em;
	color: #330;
}


h1, h2, h3, h4 {color: #933100; font: 1em Georgia, serif;}
h1 {font-size: 1.625em;}
h2 {
	font-size: 1.285em;
	padding-bottom: 0.33em;
	border-bottom: 1px dotted #996;
	margin-bottom: 0.5em; 
	margin-top: 0.5em; 
	clear: left
}
h3 {font-size: 1.1em;}
h4 {font-size: 1em;}
p {margin: 0.75em 0;}
li {list-style: none;}

table {
	width: 100%;
}

thead th {
	text-align: left;
	text-transform: uppercase;
}

thead th, tbody td {
	padding: 0.5em 0.5em 0.5em 0;
}