
<p>
	<%= label_tag 'user[email]', 'Email' %><br />
	<%= text_field_tag 'user[email]', @user.email, :onblur => "checkEmail(this.value, 'verify_email', '#{form_authenticity_token}')", :size => 30 %>
</p>
<p id="verify_email">
	<%= email_taken?(@user.email) unless @user.email.blank? %>
</p>