
<p>
	<%= check_box_tag 'user[accepted_terms_of_use]', @user.accepted_terms_of_use %> <%= label_tag 'user[accepted_terms_of_use]', "I hearby promise to follow the" %> <%= link_to "Terms of Use", tos_url, :title => "View Ma.gnolia's Terms of Use", :target => "_blank" %>
</p>