	

	<h1>Terms of Service</h1>

<p>By using services of the Ma.gnolia.com web site, you accept and agree to be bound by the following terms and conditions (and we promise we&#8217;ve tried to make them as friendly as we can!). Nothing in these Terms of Service should be construed to confer any rights to third party beneficiaries.</p>


	<h2>Gnolia Systems, <span class="caps">LLC</span>&#8217;s Proprietary Rights</h2>


	<p>Gnolia Systems, <span class="caps">LLC</span> owns and retain all rights in the Ma.gnolia.com website, which contains proprietary and confidential information that is protected by applicable intellectual property and other laws. Except as expressly authorized by Gnolia Systems, <span class="caps">LLC</span>, you may not copy, modify, publish, transmit, distribute, perform, display or sell any of Gnolia System, <span class="caps">LLC</span>&#8217;s proprietary information.</p>


	<p>In order to prevent abuse of our bookmark storage services, Ma.gnolia reserves the right to restrict the amount of storage consumed by a single user, and to remove any file that we deem to be of an unreasonable size without prior notice.</p>


	<p>It is our policy to respond to notices of alleged infringement that comply with the Digital Millennium Copyright Act.</p>


	<h2>Privacy Policy</h2>


	<p>Our collection and use of personal information is governed by our Privacy Policy. <a href="http://dev.gnolia.com/privacy" title="Read Ma.gnolia's Privacy Policy">Click here</a> to review the Ma.gnolia Privacy Policy.</p>


	<h2>Copyrighted Materials</h2>


	<p>All avatar images uploaded by Ma.gnolia members must not violate the copyright on those images, if any. Ma.gnolia reserves the right, and will remove any avatar images that are reported to us as violating copyright.</p>

	<h2>Disclaimer of Warranties</h2>


	<p>Gnolia Systems, <span class="caps">LLC</span> disclaims any and all responsibility or liability for the accuracy, content, completeness, legality, reliability, or operability or availability of information or materials displayed on Ma.gnolia.com&#8217;s site and its sub-pages. Gnolia Systems, <span class="caps">LLC</span> disclaims any and all responsibility and liability for the conduct of any participant or member of Ma.gnolia.com.</p>

	<p><span class="caps">YOU AGREE THAT YOUR USE OF MA</span>.GNOLIA.COM <span class="caps">IS ENTIRELY AT YOUR OWN RISK</span>.</p>


	<p>Hold Harmless and Indemnity
You agree to hold harmless and indemnify Gnolia Systems, <span class="caps">LLC</span> from and against any third party claim arising from or in any way related to your use of Ma.gnolia.com, including any liability or expense arising from all claims, losses, damages (actual and consequential), suits, judgments, litigation costs and attorneys&#8217; fees, of every kind and nature. In such a case, Gnolia Systems, <span class="caps">LLC</span> will provide you with written notice of such claim, suit or action.</p>


	<h2>Limitation of Liability</h2>


	<p><span class="caps">UNDER NO CIRCUMSTANCES WILL GNOLIA SYSTEMS</span>, LLC <span class="caps">BE LIABLE TO YOU FOR ANY INDIRECT</span>, INCIDENTAL, <span class="caps">CONSEQUENTIAL</span>, SPECIAL <span class="caps">OR EXEMPLARY DAMAGES ARISING OUT OF OR IN CONNECTION WITH USE OF MA</span>.GNOLIA.COM, <span class="caps">WHETHER OR NOT GNOLIA SYSTEMS</span>, LLC <span class="caps">HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES</span>. SUCH <span class="caps">LIMITATION OF LIABILITY SHALL APPLY</span> (I) <span class="caps">WHETHER THE DAMAGES ARISE FROM USE OR MISUSE OF AND RELIANCE ON MA</span>.GNOLIA.COM, <span class="caps">FROM INABILITY TO USE MA</span>.GNOLIA.COM, <span class="caps">OR FROM THE INTERRUPTION</span>, SUSPENSION, <span class="caps">OR TERMINATION OF MA</span>.GNOLIA.COM (INCLUDING <span class="caps">SUCH DAMAGES INCURRED BY THIRD PARTIES</span>), <span class="caps">AND</span> (II) <span class="caps">NOTWITHSTANDING ANY FAILURE OF ESSENTIAL PURPOSE OF ANY LIMITED REMEDY AND TO THE FULLEST EXTENT PERMITTED BY LAW</span>. Some states do not allow the exclusion or limitation of incidental or consequential damages, so the above limitation and exclusions may not apply to you. <span class="caps">UNDER NO CIRCUMSTANCES SHALL GNOLIA SYSTEMS</span>, LLC <span class="caps">BE LIABLE TO YOU FOR ANY AMOUNT EXCEEDING ONE THOUSAND DOLLARS</span> ($1000.00).</p>


	<h2>Term and Termination</h2>


	<p>These Terms of Service will apply to your use of the Ma.gnolia.com website. At any time, you can terminate your account, which will remove your personal information from view. Gnolia Systems, <span class="caps">LLC</span> may terminate your membership immediately at any time, for any reason. Once your membership terminates, you will have no right to use Ma.gnolia.com&#8217;s member services. Our proprietary rights, disclaimer of warranties, indemnities, limitations of liability and miscellaneous provisions shall survive any termination of your membership.</p>


	<h2>Notices</h2>


	<p>Gnolia Systems, <span class="caps">LLC</span> may provide you with notices regarding Ma.gnolia.com or these Terms of Service by regular mail, email, or postings to this Web site.</p>


	<h2><span class="caps">API</span></h2>


	<p>The Ma.gnoila Application Programming Interface (API) is provided for Ma.gnolia members to access Ma.gnolia features through your own or third-party web services and other online software. By using the <span class="caps">API</span>, you agree to the following terms governing to that use.</p>


	<p>The <span class="caps">API</span> is provided as-is and without warranty or guarantee. By using the <span class="caps">API</span> and/or software that accesses the Ma.gnolia <span class="caps">API</span>, you agree that Gnolia Systems <span class="caps">LLC</span> is not liable for any direct or indirect damages, including but not limited to damages for loss of profits, goodwill, use, data or other intangible losses.</p>

	<p>Excessive or otherwise irresponsible or abusive access to the Ma.gnolia <span class="caps">API</span> may result in the temporary suspension or permanent termination of your application&#8217;s access to the <span class="caps">API</span> and your Ma.gnolia account. The critieria for determining excessive or otherwise irresponsible or abusive access is at the sole discretion of Gnolia Systems <span class="caps">LLC</span>.</p>


<a name="blog"></a>
	<h2>Blog</h2>


	<p>The Ma.gnolia Blog (referred to herein as &#8216;the blog&#8217;) is designed to allow community members to express themselves on subjects relevant to the use of the service. We are firm believers in freedom of speech and expression, but we also have an equally firm goal to keep the blog relevant and civil. Though you are the owner of the content you contribute to the blog, we reserve the right to remove and possibly edit any post or comment for any reason that we deem necessary. Posting content that is illegal, obscene, defamatory, threatening, infringing of intellectual property rights, promoting unrelated goods and/or services and/or organizations will be removed, and may result in the suspension of your permission to post to the Ma.gnolia blog.</p>


	<p>By posting content to the blog, you warrant and represent that you either own or otherwise control the rights to publish that content, or that your use of the content is a protected fair use. You also allow for the use of syndication technology such as <span class="caps">RSS</span> to distribute content that you contribute to the blog.</p>


	<p>You acknowledge that Ma.gnolia does not pre-screen posted content, and that accessing the blog content in any way represents your agreement to these Terms and indemnifies Ma.gnolia from any harm suffered as a result of the blog content or its management.</p>


	<h2>Miscellaneous Provisions</h2>


	<p>These Terms of Service will be governed by and construed in accordance with the laws of the State of California, without giving effect to its conflict of laws provisions or your actual state or country of residence. The parties agree to submit to the personal and exclusive jurisdiction of the courts located in the County of San Francisco, California. If for any reason a court of competent jurisdiction finds any provision or portion of the Terms of Service to be unenforceable, the remainder of the Terms of Service will continue in full force and effect. You shall not assign these Terms of Service or assign any rights or delegate any obligations hereunder, in whole or in part, whether voluntarily or by operation of law, without our prior written consent. Any such purported assignment or delegation will be null and void and of no force or effect.</p>


	<p>Without limiting the foregoing, under no circumstances shall Gnolia Systems, <span class="caps">LLC</span> be held liable for any delay or failure in performance resulting directly or indirectly from acts of nature, forces, or causes beyond its reasonable control, including, without limitation, Internet failures, computer equipment failures, telecommunication equipment failures, other equipment failures, electrical power failures, strikes, labor disputes, riots, insurrections, civil disturbances, shortages of labor or materials, fires, floods, storms, explosions, acts of God, war, governmental actions, orders of domestic or foreign courts or tribunals, non-performance of third parties, or loss of or fluctuations in heat, light, or air conditioning.</p>


	<p>These Terms of Service constitute the entire agreement between you and Gnolia Systems, <span class="caps">LLC</span> with respect to the subject matter hereof and supersedes and replaces all prior or contemporaneous understandings or agreements, written or oral, regarding such subject matter. Any waiver of any provision of the Terms of Service by a party will be effective only if in writing and signed by a party.</p>
	
