<%# This partial is shared by the sign in form (user_sessions/new) and the registration form (users/new). %>

<%# Render the drop down select for which authentication method to use. %>
<p>
	<label for="preferred_auth_provider[name]"><%= select_label %></label> <%= select_for_signin_method( auth_providers )	%>
</p>

<%# Iterate over the auth_providers. The auth_provider partial renders the appropriate form for the auth_provider type. %>
<%= render :partial => 'authentication/auth_provider', :collection => auth_providers %>

<%# 
Initialize an IdValueToggler to toggle visibility on the div containing the authentication form type which 
corresponds to the user's selection. Has to be done after all the elements have been rendered.
%>
<script type="text/javascript" charset="utf-8">
	new IdValueToggler( 'preferred_auth_provider_name' );
</script>

<p><%= check_box_tag :remember_selection, 1, @preferred_auth_provider.nil? ? false : true %> This is my preferred method for future sign-ins.</p>
