	<p><label for="user_session_screen_name">Email Address or Screen Name:</label><br/>
	<%= text_field_tag "user_session_screen_name", @screen_name, :name => 'user_session[screen_name]', :class=>"signin_input text" %></p>

	<p><label for="user_session_password">Password:</label><br/>
	<%= password_field_tag "user_session_password", "", :name => 'user_session[password]', :class=>"signin_input text" %></p>

	<p>
		<%= submit_tag "Sign In" %>
	</p>
