<p>
	If you're already signed in to WindowsLive, you will need to sign out and then sign in again, as required by WindowsLiveId.
</p>
 <iframe 
    id="WebAuthControl" 
    name="WebAuthControl"
    src="http://login.live.com/controls/WebAuth.htm?appid=<%= @windows_app_id %>&style=font-size%3A+13px%3B+font-family%3AArial%3B+background%3A+transparent%3Bcolor%3A%23336699%3B""
    width="80px"
    height="20px"
    marginwidth="0"
    marginheight="0"
    align="middle"
    frameborder="0"
    scrolling="no"
    style="border-style: hidden; border-width: 0">
</iframe>