<%= form_tag new_user_activation_path, :method => 'get' -%><%= submit_tag 'Resend Email', :name => nil, :style => 'float: left;' %></form> 
<%= form_tag signup_path, :method => 'get' -%>&nbsp;<%= submit_tag 'Start Over', :name => nil %></form>