<h1>Join Ma.gnolia</h1>

<p>
	The activation code did not match.
</p>
<p>
  If you are having issues try copying and pasting the URL
  from your email into your browser or resending your activation code or restarting the
  registration process.
</p>

<%= render :partial => 'resend_submits' %>