<h1>Join Ma.gnolia</h1>

<p>You're Registered!</p>

<p>
	TODO: need content for this page. 
<p>

<%= form_tag user_path(@current_user), :method => 'get' -%><%= submit_tag "Done for Now", :name => nil, :style => 'float: left;' %></form>
<%= form_tag orientation_url, :method => 'get' -%>&nbsp;<%= submit_tag "Begin Orientation", :name => nil %></form>
